body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.success-message {
  color: green;
  border: 3px green solid;
  padding: 5px;
  margin-bottom: 10px;
}

.error-message {
  color: red;
  border: 3px red solid;
  padding: 5px;
  margin-bottom: 10px;
}